@font-face {
  font-family: "iconfont"; /* Project id 3550019 */
  src: url('iconfont.woff2?t=1661011681395') format('woff2'),
       url('iconfont.woff?t=1661011681395') format('woff'),
       url('iconfont.ttf?t=1661011681395') format('truetype'),
       url('iconfont.svg?t=1661011681395#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-download:before {
  content: "\e614";
}

.icon-profile:before {
  content: "\e60e";
}

.icon-eye:before {
  content: "\e7ed";
}

.icon-spotify:before {
  content: "\e64b";
}

.icon-facebook:before {
  content: "\e645";
}

.icon-discord:before {
  content: "\e675";
}

